@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@keyframes fadein-from-top {
  from {
    opacity: 0;
    top: -150px; }
  to {
    opacity: 1;
    top: 0; } }

html,
body,
ul {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

html,
body,
ul,
span,
a,
button {
  font-family: "Montserrat", sans-serif !important; }

.developing-mode .banner, .developing-mode header {
  height: 100% !important; }

.developing-mode .developing-footer {
  display: flex;
  text-align: center;
  flex-flow: column wrap; }

.developing-mode .developing-description {
  color: white;
  position: relative;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 24px;
  opacity: 0;
  -webkit-animation-name: fadein-from-top;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 2s; }

.developing-mode .developing-copyright {
  color: white; }

@keyframes fadein-from-top {
  from {
    opacity: 0;
    top: -150px; }
  to {
    opacity: 1;
    top: 0; } }

.banner {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap; }
  .banner > .container-description {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding: 0 2rem; }
    .banner > .container-description > .learn-more {
      text-transform: uppercase;
      border: none;
      background: transparent;
      border-radius: 1px;
      color: white;
      cursor: pointer;
      opacity: 0;
      -webkit-animation-name: fadein-from-top;
      -webkit-animation-delay: 1s;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-duration: 2s;
      position: relative;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      -webkit-transition: 300ms;
      transition: 300ms;
      outline: none; }
      .banner > .container-description > .learn-more:hover {
        color: #f24747; }
        .banner > .container-description > .learn-more:hover:after {
          top: 2.5rem;
          color: #f24747; }
      .banner > .container-description > .learn-more:after {
        -moz-transition: 300ms;
        -o-transition: 300ms;
        -webkit-transition: 300ms;
        transition: 300ms;
        content: 'â¯';
        top: 20px;
        left: 45%;
        position: absolute;
        transform: rotate(90deg); }
  .banner .banner-header {
    position: 1rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box; }

.description > h1 {
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 10;
  color: white;
  animation: fadein-from-top 2s;
  text-transform: uppercase;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -webkit-transition: 200ms;
  transition: 200ms;
  position: relative;
  padding-bottom: 1rem; }
  .description > h1:after {
    content: '.';
    color: transparent;
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    bottom: -10px;
    height: 2px;
    background: white; }

.description > p {
  padding-top: 1rem;
  font-style: italic;
  position: relative;
  color: white;
  text-align: center;
  font-size: 20px;
  font-size: calculateRem(20px);
  -webkit-animation: fadein-from-top 2s forwards; }

@media screen and (max-width: 600px) {
  .banner {
    background: #0f2634; } }

@media screen and (min-width: 600px) {
  .banner {
    background: url("/imgs/background.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover; }
    .banner:before {
      content: ' ';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6); } }

@media screen and (min-width: 800px) {
  .banner {
    min-height: 700px; }
    .banner > .banner-header {
      padding: 1rem 2rem; }
      .banner > .banner-header .logo {
        position: relative;
        align-self: center;
        height: 60px; }
  .description > h1 {
    font-size: 35px;
    font-size: calculateRem(35px); }
  .description > .learn-more {
    font-size: 20px;
    font-size: calculateRem(20px); }
  .mobile-button {
    display: none; }
  .navbar {
    list-style: none;
    display: flex; }
    .navbar > li {
      display: flex;
      align-items: center;
      padding: 1rem; }
      .navbar > li > a {
        text-transform: uppercase;
        font-size: 20px;
        text-decoration: none;
        color: white;
        position: relative; }
        .navbar > li > a:hover {
          color: #f24747; }
          .navbar > li > a:hover:after {
            transform: scale(1); }
        .navbar > li > a:after {
          -moz-transition: 200ms;
          -o-transition: 200ms;
          -webkit-transition: 200ms;
          transition: 200ms;
          content: ' . ';
          transform: scale(0);
          position: absolute;
          bottom: -1px;
          color: transparent;
          left: 0;
          height: 2px;
          width: 100%;
          background: #f24747; } }

@media screen and (max-width: 800px) {
  .banner {
    min-height: 600px; }
  .description > h1 {
    font-size: 25px;
    font-size: calculateRem(25px); }
  .description > .learn-more {
    font-size: 16px;
    font-size: calculateRem(16px); }
  .navbar {
    list-style: none;
    padding-top: 4rem;
    -moz-transition: 150ms ease;
    -o-transition: 150ms ease;
    -webkit-transition: 150ms ease;
    transition: 150ms ease;
    position: fixed;
    left: -200px;
    height: 100%;
    top: 0;
    background: #f24747;
    z-index: 25; }
    .navbar:after {
      content: 'Menu';
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px; }
    .navbar.active {
      -moz-transition: 150ms ease;
      -o-transition: 150ms ease;
      -webkit-transition: 150ms ease;
      transition: 150ms ease;
      left: 0;
      width: 100%; }
    .navbar > li {
      border-bottom: solid 1px white;
      padding: 1rem;
      font-size: 20px;
      text-transform: uppercase; }
      .navbar > li > a {
        color: white;
        text-decoration: none;
        font-style: italic; }
  .banner-header {
    padding: 1rem 1rem; }
    .banner-header .logo {
      position: relative;
      height: 50px;
      align-self: center; }
  .mobile-button {
    align-self: center;
    z-index: 26;
    border: none;
    height: 20px;
    background: transparent;
    position: relative;
    width: 40px;
    cursor: pointer;
    outline: none; }
    .mobile-button > span {
      position: absolute;
      display: block;
      height: 2px;
      margin-bottom: .4rem;
      background: white;
      width: 80%;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      -webkit-transition: 200ms;
      transition: 200ms; }
    .mobile-button > span:nth-child(1) {
      top: 0px; }
    .mobile-button > span:nth-child(2) {
      top: 10px; }
    .mobile-button > span:nth-child(3) {
      top: 20px; }
    .mobile-button.active span {
      top: 10px; }
    .mobile-button.active > span:nth-child(1) {
      transform: rotate(135deg); }
    .mobile-button.active > span:nth-child(2) {
      display: none; }
    .mobile-button.active > span:nth-child(3) {
      transform: rotate(-135deg); } }
