@import '../utils/_variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
body,
ul {
    margin: 0;
    padding: 0;
}

html,
body,
ul,
span,
a,
button {
    font-family: 'Montserrat', sans-serif!important;
}

body {
    overflow: hidden;
}

.bg-developing {
    position: fixed;
    z-index: 2000;
    background: $blue-dark;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    overflow: hidden;
    >.logo {
        height: 34px;
        margin-top: 50px;
        width: 200px;
    }
    >h3 {
        color: white;
    }
    span {
        display: block;
        padding: 1rem;
        box-sizing: border-box;
        font-size: 12px;
        color: white;
    }
}