@import '../utils/_variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
body,
ul {
    margin: 0;
    padding: 0;
}

html,
body,
ul,
span,
a,
button {
    font-family: 'Montserrat', sans-serif!important;
}

.body-overflow-hidden{
    overflow: hidden;
}

svg.animate path {
    opacity: 0;
	animation: svg-animate 2.5s forwards;
}

@keyframes svg-animate {
	from {}
	to {
        opacity: 1;
		stroke-dashoffset: 0;
	}
}
