@import '../utils/_variables';
@import '../utils/_mixins';
@import '../utils/_animates';

.banner {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    >.container-description {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        flex: 1;
        padding: 0 2rem;
        >.learn-more {
            text-transform: uppercase;
            border: none;
            background: transparent;
            border-radius: 1px;
            color: white;
            cursor: pointer;
            opacity: 0;
            -webkit-animation-name: fadein-from-top;
            -webkit-animation-delay: 1s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-duration: 2s;
            position: relative;
            @include transition(300ms);
            outline:none;
            &:hover {
                color: $orange;
                &:after {
                    top: 2.5rem;
                    color: $orange;
                }
            }
            &:after {
                @include transition(300ms);
                content: 'â¯';
                top: 20px;
                left: 45%;
                position: absolute;
                transform: rotate(90deg);
            }
        }
    }
    .banner-header {
        position: 1rem;
        display: flex;
        position:relative;
        justify-content: space-between;
        box-sizing: border-box;
    }
}


.description {
    >h1 {
        font-weight: bold;
        text-align: center;
        position: relative;
        z-index: 10;
        color: white;
        animation: fadein-from-top 2s;
        text-transform: uppercase;
        @include transition(200ms);
        position: relative;
        padding: {
            bottom:1rem;
        }
        &:after{
            content:'.';
            color:transparent;
            position: absolute;
            width:150px;
            transform: scale(0);
            animation:progressive-width 1s forwards;
            animation-delay: 1.5s;
            left:50%;
            margin-left:-75px;
            bottom:-10px;
            height: 2px;
            background: white;
        }
    }
    >p{
        padding: {
            top:1rem;
        }
        font-style: italic;
        position: relative;
        color:white;
        text-align: center;
        @include fontSize($font-md);
        -webkit-animation: fadein-from-top 2s forwards;
    }
}

@media screen and(max-width: 600px) {
    .banner {
        background: $blue-dark;
    }
}

@media screen and(min-width:600px) {
    .banner {
        background: url('/imgs/background.jpg');
        background-attachment: fixed;
        background-position: 50% 50%;
        background-size: cover;
        &:before {
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .6);
        }
    }
}

@media screen and (min-width:800px) {
    .banner {
        min-height: 700px;
        >.banner-header {
            padding: 1rem 2rem;
            .logo {
                position:relative;
                align-self: center;
                height: 60px;
            }
        }
    }
    .description {
        >h1 {
            @include fontSize($font-big);
        }
        >.learn-more {
            @include fontSize($font-md);
        }
    }
    .mobile-button {
        display: none;
    }
    .navbar {
        list-style: none;
        display: flex;
        >li {
            display: flex;
            align-items: center;
            padding: 1rem;
            >a {
                text-transform: uppercase;
                font-size: 20px;
                text-decoration: none;
                color: white;
                position: relative;
                &:hover {
                    color: $orange;
                    &:after {
                        transform: scale(1);
                    }
                }
                &:after {
                    @include transition(200ms);
                    content: ' . ';
                    transform: scale(0);
                    position: absolute;
                    bottom: -1px;
                    color: transparent;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background: $orange;
                }
            }
        }
    }
}


@media screen and (max-width:800px) {
    .banner {
        min-height: 600px;
    }
    .description {
        >h1 {
            @include fontSize($font-lg);
        }
        >.learn-more {
            @include fontSize($font-sm);
        }
    }
    .navbar {
        list-style: none;
        padding-top: 4rem;
        @include transition(150ms ease);
        position: fixed;
        left: -200px;
        height: 100%;
        top: 0;
        background: $orange;
        z-index: 25;
        &:after {
            content: 'Menu';
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 25px;
        }
        &.active {
            @include transition(150ms ease);
            left: 0;
            width: 100%;
        }
        >li {
            border-bottom: solid 1px white;
            padding: 1rem;
            font-size: 20px;
            text-transform: uppercase;
            >a {
                color: white;
                text-decoration: none;
                font-style: italic;
            }
        }
    }
    .banner-header {
        padding: 1rem 1rem;
        .logo {
            position:relative;
            height: 50px;
            align-self: center;
        }
    }
    .mobile-button {
        align-self:center;
        z-index: 26;
        border: none;
        height: 20px;
        background: transparent;
        position: relative;
        width: 40px;
        cursor: pointer;
        outline: none;
        >span {
            position: absolute;
            display: block;
            height: 2px;
            margin-bottom: .4rem;
            background: white;
            width: 80%;
            @include transition(200ms);
        }
        >span:nth-child(1) {
            top: 0px;
        }
        >span:nth-child(2) {
            top: 10px;
        }
        >span:nth-child(3) {
            top: 20px;
        }
        &.active {
            span {
                top: 10px;
            }
            >span:nth-child(1) {
                transform: rotate(135deg);
            }
            >span:nth-child(2) {
                display: none;
            }
            >span:nth-child(3) {
                transform: rotate(-135deg);
            }
        }
    }
}