@import '../utils/_variables';
@import '../utils/_mixins';
.banner {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    >.description {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        flex: 1;
        padding: 0 2rem;
        >span {
            font-weight: bold;
            text-align: center;
            position: relative;
            z-index: 10;
            color: white;
        }
        >.learn-more {
            text-transform: uppercase;
            border: none;
            background: transparent;
            border-radius: 1px;
            color: white;
            cursor: pointer;
            position: relative;
            &:hover:after{
                top:2.5rem;
            }
            &:after{
                @include transition(150ms);
                content:'â¯';
                top:20px;
                left:45%;
                position: absolute;
                transform:rotate(90deg);
            }
        }
    }
    .banner-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
}

@media screen and(max-width: 600px) {
    .banner {
        background: $blue-dark;
    }
}

@media screen and(min-width:600px) {
    .banner {
        background: url('/imgs/bg-2.jpg');
        background-attachment: fixed;
        background-position: 50% 50%;
        background-size: cover;
        &:before {
            content: ' ';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .6);
        }
    }
}

@media screen and (min-width:800px) {
    .banner {
        min-height: 900px;
        .description {
            >span {
                @include fontSize($font-extra-lg);
            }
            >.learn-more {
                @include fontSize($font-md);
            }
        }
        >.banner-header {
            padding: 1rem 2rem;
            .logo {
                align-self: center;
                height: 40px;
            }
        }
    }
    .mobile-button {
        display: none;
    }
    .navbar {
        list-style: none;
        display: flex;
        >li {
            display: flex;
            align-items: center;
            padding: 1rem;
            >a {
                text-transform: uppercase;
                font-size: 20px;
                text-decoration: none;
                color: white;
                position: relative;
                &:hover {
                    color: $orange;
                    &:after {
                        transform: scale(1);
                    }
                }
                &:after {
                    @include transition(200ms);
                    content: ' . ';
                    transform: scale(0);
                    position: absolute;
                    bottom: -1px;
                    color: transparent;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background: $orange;
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    .banner {
        min-height: 600px;
        >.description {
            >span {
                @include fontSize($font-md);
            }
            >.learn-more {
                @include fontSize($font-sm);
            }
        }
    }
    .navbar {
        list-style: none;
        padding-top: 4rem;
        @include transition(150ms ease);
        position: fixed;
        left: -200px;
        height: 100%;
        top: 0;
        background: $orange;
        z-index: 25;
        &:after {
            content: 'Menu';
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 25px;
        }
        &.active {
            @include transition(150ms ease);
            left: 0;
            width: 100%;
        }
        >li {
            border-bottom: solid 1px white;
            padding: 1rem;
            font-size: 20px;
            text-transform: uppercase;
            >a {
                color: white;
                text-decoration: none;
                font-style: italic;
            }
        }
    }
    .banner-header {
        padding: 1rem 1rem;
        .logo {
            height: 30px;
            align-self: center;
        }
    }
    .mobile-button {
        align-self: flex-start;
        z-index: 26;
        border: none;
        height: 20px;
        background: transparent;
        position: relative;
        width: 40px;
        cursor: pointer;
        outline: none;
        >span {
            position: absolute;
            display: block;
            height: 4px;
            margin-bottom: .4rem;
            background: white;
            width: 80%;
            @include transition(200ms);
        }
        >span:nth-child(1) {
            top: 0px;
        }
        >span:nth-child(2) {
            top: 10px;
        }
        >span:nth-child(3) {
            top: 20px;
        }
        &.active {
            span {
                top: 10px;
            }
            >span:nth-child(1) {
                transform: rotate(135deg);
            }
            >span:nth-child(2) {
                display: none;
            }
            >span:nth-child(3) {
                transform: rotate(-135deg);
            }
        }
    }
}